<body class="content-center bg-gray-100 h-screen flex items-center justify-center">
<div id="app" class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg text-center">
    <!-- Interface avant connexion -->
    <div id="login-screen">
        <h2 class="text-2xl font-semibold mb-4">Connexion</h2>
        <input id="email" type="email" placeholder="Email" class="w-full p-2 border rounded-md mb-2">
        <input id="password" type="password" placeholder="Mot de passe" class="w-full p-2 border rounded-md mb-4">
        <button id="login" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600"> Create </button>
    </div>
</div>
</body>

<script src="front.js"></script>