<div class="w-full mt-38">

        <div class="text-center space-y-4">
            <h1 class="text-7xl font-bold text-fuchsia-600">Une nouvelle communauté</h1>
            <p class="text-xl mx-auto">
                Que vous soyez une boutique ou que vous cherchez vos magasins en ligne. Nous voulons vous proposer une solution.
            </p>
        </div>

        <div class="space-y-6 mt-12 bg-white rounded-xl ">
            <h2 class="text-5xl font-semibold text-center p-4">Profitez</h2>
            <div class="flex flex-col sm:flex-row justify-between items-start sm:space-x-6 space-y-4 sm:space-y-0">

                <div class="flex-1 p-6 rounded-lg text-center">
                    <div class="mx-auto mb-4 w-42 h-42 flex items-center justify-center">
                        <img src="../images/shopWeb.png" alt="shopWeb" class="w-full h-full object-contain">
                    </div>
                    <div class="text-3xl mb-2 px-4 font-bold">1 - Découvrez</div>
                    <p class="text-xl text-gray-600">Accédez aux produits et stocks de <strong>vos boutiques locales</strong>.</p>
                </div>

                <div class="flex-1 p-6 rounded-lg text-center">
                    <div class="mx-auto mb-4 w-42 h-42 flex items-center justify-center">
                        <img src="../images/bag.png" alt="Bag" class="w-full h-full object-contain">
                    </div>
                    <div class="text-3xl mb-2 px-4 font-bold">2 - Commandez</div>
                    <p class="text-xl text-gray-600">Choisissez votre mode de livraison <strong>click & collect ou livraison à domicile</strong>.</p>
                </div>

                <div class="flex-1 p-6 rounded-lg text-center">
                    <div class="mx-auto mb-4 w-42 h-42 flex items-center justify-center">
                        <img src="../images/DeliveryMan.png" alt="Delivery" class="w-full h-full object-contain">
                    </div>
                    <div class="text-3xl mb-2 px-4 font-bold">3 - On arrive !</div>
                    <p class="text-xl text-gray-600">Faites-vous livrez en <strong>moins d'une heure</strong>.</p>
                </div>

            </div>
            <div class="text-center py-6 px-2">
                <button id="beginCustomer" class="btn-primary shadow-xl text-3xl bg-fuchsia-600 p-4 rounded-full hover:bg-fuchsia-700">
                    Découvrir
                </button>
            </div>
        </div>

        <div class="space-y-6 mt-12 bg-white rounded-xl ">
            <h2 class="text-5xl font-semibold text-center p-4">Devenez Partenaires</h2>
            <div class="flex flex-col sm:flex-row justify-between items-start sm:space-x-6 space-y-4 sm:space-y-0">

                <div class="flex-1 p-6 rounded-lg text-center">
                    <div class="mx-auto mb-4 w-42 h-42 flex items-center justify-center">
                        <img src="../images/Parteurs.png" alt="Partneurs" class="w-full h-full object-contain">
                    </div>
                    <div class="text-3xl mb-2 font-bold">1 - Devenez Partenaires</div>
                    <p class="text-xl text-gray-600">Rejoignez notre plateforme et gagnez en visibilité, <strong>sans frais d'inscriptions</strong>.</p>
                </div>

                <div class="flex-1 p-6 rounded-lg text-center">
                    <div class="mx-auto mb-4 w-42 h-42 flex items-center justify-center">
                        <img src="../images/NoFees.png" alt="NoFees" class="w-full h-full object-contain">
                    </div>
                    <div class="text-3xl mb-2 font-bold">2 - Simple et Rapide</div>
                    <p class="text-xl text-gray-600">Poster vos produits en quelques clics et partagez leurs qualités.</p>
                </div>

                <div class="flex-1 p-6 rounded-lg text-center">
                    <div class="mx-auto mb-4 w-42 h-42 flex items-center justify-center">
                        <img src="../images/Monitor.png" alt="Monitor" class="w-full h-full object-contain">
                    </div>
                    <div class="text-3xl mb-2 font-bold">3 - Débloquez la livraison</div>
                    <p class="text-xl text-gray-600">Profitez d'une logistique avancée, <strong>on s'occupe de la livraison</strong>.</p>
                </div>

            </div>
            <div class="text-center py-6 px-2">
                <button id="beginShop" class="btn-primary text-3xl bg-fuchsia-600 p-4 rounded-full hover:bg-fuchsia-700">
                    Commencer
                </button>
            </div>
        </div>

<!--        <div class="text-center py-6 px-2">-->
<!--            <button id="readMore" class="btn-primary text-3xl bg-fuchsia-600 p-4 rounded-full hover:bg-fuchsia-700">-->
<!--                En savoir plus-->
<!--            </button>-->
<!--        </div>-->
    </div>

</div>
</div>
