<!-- Interface après connexion -->
<div class="bg-gray-800 p-6 rounded-lg shadow-lg max-w-xl mx-auto">
    <div class="p-4 bg-yellow-400 rounded-full text-center text-gray-800 font-bold text-lg">
        Welcome
    </div>
    <p class="text-gray-300 text-lg text-center">"We are happy to see you with us! Enjoy your experience on our platform."</p>
    <div class="flex space-x-4 *:cursor-pointer">
<!--        <button-->
<!--                class="px-8 z-30 py-4 bg-rose-400 rounded-md text-white relative font-semibold after:-z-20 after:absolute after:h-1 after:w-1 after:bg-rose-800 after:left-5 overflow-hidden after:bottom-0 after:translate-y-full after:rounded-md after:hover:scale-[300] after:hover:transition-all after:hover:duration-700 after:transition-all after:duration-700 transition-all duration-700 [text-shadow:3px_5px_2px_#be123c;] hover:[text-shadow:2px_2px_2px_#fda4af] text-2xl"-->
<!--        >-->
<!--            Hover Me-->
<!--        </button>-->
        <button id="pong" class="px-6 py-3 bg-yellow-400 text-white items-center  rounded-lg shadow-md hover:bg-yellow-600 hover:shadow-lg transform hover:scale-105 transition-all">Pong</button>
    </div>
</div>
