<!-- Interface après connexion -->
<div class="bg-gray-800 p-4 rounded-lg shadow-lg mx-auto flex flex-col gap-16">
    <div class="p-2 bg-yellow-400 rounded-full text-center text-gray-800 font-bold text-lg">
        Welcome
    </div>
    <p class="text-gray-300 text-lg text-center">"We are happy to see you with us! Enjoy your experience on our platform."</p>
    <div class="flex items-center justify-center">
        <button id="pongConnected" class="p-4  cursor-pointer bg-yellow-400 text-white rounded-lg shadow-md hover:bg-yellow-600 transform hover:scale-105">Pong</button>
    </div>
</div>
