<div class="place-items-center">

        <div class="text-center space-y-4">
            <h1 class="text-7xl font-bold text-fuchsia-600 my-10">
                Une question, une suggestion ou besoin d’aide ?</h1>
            <p class="text-3xl text-gray-700 my-4">
                <strong>Remplissez le formulaire ci-dessous et nous vous répondrons rapidement.</strong>
            </p>
        </div>
    <div class="w-full max-w-2xl mx-auto rounded-lg flex-auto px-8 py-12 bg-fuchsia-50 shadow-xl">


        <form id="myForm" class="space-y-6" onsubmit="event.preventDefault();">

            <div>
                <label for="email" class="block text-xl font-medium text-gray-800 mb-2">Votre email*</label>
                <input type="email" id="email" name="email" placeholder="exemple@email.com"
                       class=" bg-white w-full p-4 border border-gray-300 rounded-lg
                       focus:ring-2 focus:ring-fuchsia-400 focus:outline-none" required>
            </div>

            <div>
                <label for="message"
                       class="block text-xl font-medium text-gray-800 mb-2">
                    Votre message*</label>
                <textarea id="message" name="message" rows="6"
                          placeholder="Écrivez votre message ici..."
                          class="w-full bg-white p-4 border border-gray-300 rounded-lg
                          focus:ring-2 focus:ring-fuchsia-400 focus:outline-none" required></textarea>
            </div>

            <div class="justify-center text-center">
                <button id="contactBtn"
                        class="btn-primary text-3xl bg-fuchsia-600 p-4 rounded-full
                        hover:bg-fuchsia-700">Envoyer !</button>
            </div>
        </form>

    </div>

</div>
