<div class="w-full h-full">
    <!-- Hero Section -->
    <section id="intro" class=" bg-gray-700 shadow-md p-10 px-16 mb-10 right-0 rounded-l-full">
        <h1 class="text-5xl font-bold text-center text-transparent bg-gradient-to-r from-yellow-200 to-pink-400 bg-clip-text mb-4">ft_transcendence Project</h1>
        <p class="text-xl text-center max-w-3xl mx-auto text-gray-400">
            A full web platform project centered around the Pong game, featuring user management, microservices, and a modern interface. Built as part of 42 School's curriculum.
        </p>
    </section>
    <!-- Frontend Section -->
    <section id="frontend" class=" rounded-2xl mr-60 bg-gray-700 shadow-md p-10 px-16 mb-10 left-0 rounded-r-full">
        <h2 class="text-3xl font-bold text-purple-700 mb-4">Frontend</h2>
        <p class="text-lg mx-20 text-gray-400">
            The frontend is a Single Page Application developed in <strong>TypeScript</strong> using <strong>Tailwind CSS</strong>. It manages user interaction, navigation, matchmaking, and the Pong game interface.
        </p>
        <img src="../assets/docker_compose.png" alt="Tailwind CSS" class="rounded-full" />
    </section>

    <!-- Backend Section -->
    <section id="backend" class="rounded-2xl ml-60 bg-gray-700 shadow-md p-10 px-16 mb-10 right-0 rounded-l-full">
        <h2 class="text-3xl font-bold text-emerald-700 mb-4">Backend</h2>
        <p class="text-lg  mx-20 text-gray-400">
            The backend is built with <strong>Node.js</strong> and the <strong>Fastify</strong> framework. A <strong>SQLite</strong> database stores user data, scores, and game records. The backend exposes a secure REST API consumed by the frontend.
        </p>
    </section>

    <!-- Docker & Microservices Section -->
    <section id="docker" class="rounded-2xl mr-60 bg-gray-700 shadow-md p-10 px-16 mb-10 left-0 rounded-r-full">
        <h2 class="text-3xl font-bold text-pink-700 mb-4">Docker & Microservices</h2>
        <p class="text-lg  mx-20 text-gray-400">
            The project is fully containerized using <strong>Docker</strong>. Each component (frontend, backend, database) runs in its own container, orchestrated via <code>docker-compose</code>. This ensures isolation, scalability, and portability.
        </p>
    </section>

    <!-- Modules Section -->
    <section id="modules" class="rounded-2xl ml-60 bg-gray-700 shadow-md p-10 px-16 mb-10 right-0 rounded-l-full">
        <h2 class="text-3xl font-bold text-sky-700 ml-16 mb-4">Implemented Modules</h2>
        <ul class="list-disc mr-10 mx-20 list-inside text-lg text-gray-400 space-y-2">
            <li>Standard authentication with user profile management</li>
            <li>Real-time multiplayer with matchmaking</li>
            <li>User statistics and match history tracking</li>
            <li>Integrated live chat between users</li>
            <li>Security: JWT, HTTPS, XSS/SQLi protection</li>
        </ul>
    </section>
</div>