<div class="w-md max-w-md bg-gray-800 shadow-lg rounded-lg p-8">
    <h1 class="text-xl font-bold text-yellow-400 mb-4 text-center"> Connect to your account </h1>

        <div class="flex flex-col items-center">
            <div id="g_id_onload"
                 data-client_id="562995219569-0icrl4jh4ku3h312qmjm8ek57fqt7fp5.apps.googleusercontent.com"
                 data-callback="CredentialResponse">
            </div>

            <div class="g_id_signin"
                 data-type="standard"
                 data-size="medium"
                 data-theme="filled_blue"
                 data-text="signin_with"
                 data-shape="circle"
                 data-locale="en_US"
                 data-logo_alignment="center">
            </div>
        </div>

    <div class="flex items-center my-4">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="px-3 text-gray-300 text-sm">OR</span>
        <div class="flex-grow border-t border-gray-300"></div>
    </div>

    <form id="myForm" class="space-y-4" onsubmit="event.preventDefault();">
        <div class="insert-nickName">
            <label for="nickName" class="block text-gray-700 font-medium"></label>
            <input class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-yellow-400 focus:outline-none" placeholder="nickName" type="text" name="nickName" id="nickName" />
        </div>
        <div class="insert-password">
            <label for="password" class="block text-gray-700 font-medium"></label>
            <input class="w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-yellow-400 focus:outline-none" placeholder="Password" type="password" name="password" id="password" />
        </div>
            <span class="error-message text-red-500 text-xs hidden" id="LoginError">nickName or Password does not match account</span>
        <div class="justify-center text-center">
            <button id="loginButton" class="w-64 bg-yellow-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-yellow-600 transition transform hover:scale-105">Subscribe!</button>
        </div>

    </form>

    <div class="border-t border-gray-300 my-4"></div>

    <div class="p-6 shadow-lg rounded-lg text-center">
        <p class="text-gray-400 text-sm">
            Doesn't have an account?
        </p>
        <button id="connectPageBtn" class="w-64 bg-yellow-500 text-white px-4 py-2 rounded-full shadow-md hover:bg-yellow-600 transition transform hover:scale-105">Sign In</button>
    </div>

    <div class="border-t border-gray-300 my-6"></div>

    <div class="text-center">
        <button id="home" class="bg-gray-500 text-white px-5 py-2 rounded-full shadow-md hover:bg-gray-600 transition transform hover:scale-105">
            Home
        </button>
    </div>
</div>