<section class="w-full max-w-6xl mx-auto p-4">
  <h2 class="text-center text-2xl md:text-3xl font-bold text-yellow-400 mb-6">Match History</h2>

  <!-- Légende -->
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4 text-sm text-gray-300 border-b border-gray-600 p-2 mb-2 text-center">
    <div>Game</div>
    <div>Opponent</div>
    <div>Score</div>
    <div>Result</div>
    <div>Date</div>
  </div>

  <!-- Liste des matchs -->
  <ul id="matchHistoryList" class="space-y-4">
    <!-- Les entrées seront insérées ici via JS -->
  </ul>

  <!-- Template clonable -->
  <template id="matchTemplate">
    <li class="grid grid-cols-1 md:grid-cols-5 gap-4 text-center items-center p-4 m-2 bg-linear-to-r  from-yellow-700  via-gray-800 to-green-800 rounded-lg hover:scale-105 transition duration-500 flex justify-between">
      <div class="text-white text-center" id="matchGame"></div>
      <div class="flex items-center justify-between w-full m-2">
        <img class="h-10 x-10 rounded-full m-2" id="opponentAvatar" src="../images/login.png" alt=""></img>
        <div class="text-yellow-400 text-lg text-center truncate overflow-hidden text-ellipsis max-w-[10rem]" id="matchOpponent"></div>
      </div>
      <div class="flex items-center w-full justify-center gap-2">
        <div class="text-white text-xl" id="matchScore1">1</div>
        <div class="text-2xl">-</div>
        <div class="text-white text-xl" id="matchScore2">2</div>
      </div>
      <div class="text-xl text-center font-bold" id="matchResult"></div>
      <div class="text-white text-center" id="matchTime"></div>
    </li>
  </template>
</section>
