<div class="w-full mx-auto p-8">
    <h2 class="text-center text-2xl font-bold text-yellow-400 m-4">Game Area</h2>

    <div class="relative">
        <div id="canvasContainer">
            <canvas id="gameCanvas" class="mx-auto block rounded-xl"></canvas>
            <div class="absolute inset-0 flex items-center justify-center text-white font-bold">
            </div>
        </div>
    </div>

    <h2 class="text-center text-2xl font-bold text-yellow-400 m-4">Use any key to watch another game</h2>
</div>
