<div class="flex grid grid-cols-4 gap-4 center-items text-white m-4 container">

    <div class="relative w-full bg-gray-700 shadow-lg rounded-lg p-8 pb-40 overflow-hidden">
        <h1 class="text-lg font-bold text-yellow-400 mb-4 text-center">Your Profile</h1>

        <div class="border-t border-gray-300 my-4"></div>

        <div class="profile-details space-y-4">
            <div class="insert-nickName">
                <div id="profileNickName" class="text-gray-300 font-semibold truncate">loading ...</div>
            </div>

            <div class="insert-email">
                <div id="profileEmail" class="text-gray-300 font-semibold truncate">loading ...</div>
            </div>

            <div class="flex justify-center items-center">
                <button id="editProfileButton" class="absolute bottom-0 mb-4 px-4 py-2 bg-yellow-400 text-white rounded-full shadow-md hover:bg-yellow-600 transition transform hover:scale-105">
                    Edit Profile
                </button>
            </div>
        </div>

        <div class="border-spacing-2 border-spacing-x-2 border-spacing-y-2 border-gray-300 my-6"></div>
    </div>

    <div class="relative w-full bg-gray-700 shadow-lg rounded-lg p-8 overflow-hidden ">
        <h2 class="text-lg font-bold text-yellow-400 text-center mb-4">Friends List</h2>

        <div class="border-t border-gray-300 my-4"></div>

        <!-- Section Liste d'Amis -->
        <div class="rounded-lg shadow-md flex w-full">
            <!-- Liste des amis -->
            <ul id="friendList" class="space-y-2">
                <h2 class="text-sm font-bold text-gray-300 text-center mb-4 hidden">You don't have friends :/</h2>

                <div id="InsertFriendList" class=" content-between gap-4">
                    <div>
                        <div class=" flex items-center w-full content-start bg-transparent">
                            <img src="../login.png" class="w-10 h-10 rounded-full " />
                            <strong class="text-gray-300 ml-2">Debra Houston</strong>
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="flex justify-center items-center py-8">
            <input id="friendNameIpt" type="text" placeholder="Name" class="rounded-full px-4 py-2 mb-4 absolute bottom-0 left-0 bg-white text-black">
            <button id="friendNameBtn" class="px-4 py-2 absolute bottom-0 right-0 mb-4 bg-yellow-500 text-white rounded-r-full hover:bg-yellow-600 transition hover:scale-105">Add</button>
        </div>
    </div>

</div>

<div class="border-t border-gray-300 my-6"></div>

<div class="text-center">
    <button id="home" class="bg-gray-500 text-white px-5 py-2 rounded-full shadow-md hover:bg-gray-600 transition transform hover:scale-105">
        Back to Home
    </button>

    <button id="logout" class="bg-pink-500 text-white px-5 py-2 rounded-full shadow-md hover:bg-pink-600 transition transform hover:scale-105">
        Logout
    </button>
</div>