<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="w-7xl max-w-xl bg-gray-900 shadow-lg rounded-lg p-8">
    <h1 class="text-xl font-bold text-yellow-400 mb-4 text-center">Your Profile</h1>

    <div class="border-t border-gray-300 my-4"></div>

    <div class="profile-details space-y-4">
        <div class="insert-nickName">
            <div id="profileNickName" class="text-gray-300 font-semibold">loading ...</div> <!-- Placeholder for name -->
        </div>

        <div class="insert-email">
            <div id="profileEmail" class="text-gray-300 font-semibold">loading ...</div> <!-- Placeholder for email -->
        </div>

        <div class="profile-actions">
            <button id="editProfileButton" class="w-full bg-yellow-400 text-white px-5 py-2 rounded-lg shadow-md hover:bg-yellow-600 transition transform hover:scale-105">
                Edit Profile
            </button>
            <button id="logoutButton" class="w-full bg-gray-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-gray-600 transition transform hover:scale-105 mt-4">
                Logout
            </button>
        </div>
    </div>

    <div class="border-t border-gray-300 my-6"></div>

    <div class="text-center">
        <a href="/" class="bg-gray-500 text-white px-5 py-2 rounded-lg shadow-md hover:bg-gray-600 transition transform hover:scale-105">
            Back to Home
        </a>
    </div>
</div>

<script type="module" src="/static/dist/front.js"></script>

</body>
</html>