<div class="grid place-items-center min-h-screen text-white px-4">
    <div class="grid flex-col grid-cols-1 gap-14 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 content-center text-white m-4 container">

        <div class="box-profile pb-20 flex flex-col items-center " data-aos="slide-right" data-aos-delay="200">
            <h1 class="text-lg font-bold text-yellow-400 text-center">Your Profile</h1>

            <div class="border w-full border-gray-300 my-4"></div>

            <dl  class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">
                <div class="insert-nickName">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Nick name</dt>
                    <input
                            id="profileNickName"
                            type="text"
                            class="p-4 block w-full rounded-md bg-gray-600"
                            value="Loading..."
                    />
                </div>

                <div class="insert-email">
                    <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Email address</dt>
                    <input
                            id="profileEmail"
                            type="text"
                            class="mt-1 p-4 block w-full rounded-md bg-gray-600"
                            value="Loading..."
                    />
                </div>

                <div class="flex justify-center items-center">
                    <button id="editProfileButton" class="absolute bottom-0 btn-primary">
                        Edit Profile
                    </button>
                </div>
            </dl>

            <div class="border-spacing-2 border-spacing-x-2 border-spacing-y-2 border-gray-300 my-6"></div>
        </div>

        <div class="box-profile pb-20" data-aos="slide-left" data-aos-delay="200">
            <h2 class="text-lg font-bold text-yellow-400 text-center mb-4">Friends</h2>

            <div class="border border-gray-300 my-4"></div>

            <div id="myModal"
                 class="hidden fixed inset-0 z-50 bg-black/50 backdrop-blur-0 items-center justify-center">
                <div id="modalContent"
                     class="opacity-0 translate-y-full transition-all duration-500 transform
                bg-gray-700 text-white text-2xl p-8 relative w-[90%] max-w-3xl rounded-xl flex flex-col gap-6 shadow-lg">
                    <button id="closeModalBtn"
                            class="absolute top-4 right-4 text-xl hover:scale-110 transition">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="w-5 h-5 opacity-25 hover:opacity-100 transition-opacity duration-200"
                             fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>

                    <div id="nameFriend" class="text-center tracking-wide"></div>

                    <div class="flex justify-center gap-10">
                        <button id="invitePong"
                                class="bg-red-600 text-white px-6 py-3 rounded-full hover:bg-red-700 hover:scale-105 transition duration-300 ease-in-out">
                            Pong
                        </button>
                        <button id="inviteTowerDefense"
                                class="bg-red-600 text-white px-6 py-3 rounded-full hover:bg-red-700 hover:scale-105 transition duration-300 ease-in-out">
                            Tower Defense
                        </button>
                    </div>
                </div>
            </div>



            <ul id="acceptedList" class="p-2 space-y-2 w-full max-h-60 overflow-y-auto custom-scrollbar" role="list">
            </ul>

            <template id="acceptedTemplate">
                <li class="list-user relative" id="friendAcceptedId">
                    <div class="ml-5 flex items-center relative">
                        <div class="relative">
                            <img class="h-10 w-10 rounded-full" src="../images/login.png" alt="Avatar"/>
                            <span class="online hidden absolute bottom-0 right-0 block h-3 w-3 rounded-full ring-2 ring-white bg-green-500 status-indicator"></span>
                        </div>
                        <div class="ml-3 overflow-hidden">
                            <p class="text-lg font-medium text-gray-900 dark:text-white name"></p>
                        </div>
                    </div>
                    <button class="inviteFriend hidden absolute inset-y-0 right-0 btn-primary m-4">
                        Invite to Play
                    </button>
                </li>
            </template>


            <div class="flex flex-col items-center justify-center">
                <div class="absolute bottom-0 ">
                    <div class=" flex justify-center items-center max-w-md">
                        <label for="friendNameIpt"></label><input id="friendNameIpt" type="text" placeholder="Name"
                                                                  class=" left-0 w-1/3 mb-4 px-4 py-2 rounded-l-full shadow-md transition transform hover:scale-105 bg-white text-black" />
                        <button id="friendNameBtn"
                                class=" right-0 rounded-l-none btn-primary">
                            Add
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="box-profile" data-aos="slide-right" data-aos-delay="200">
            <h2 class="text-lg font-bold text-yellow-400 text-center mb-4">Request</h2>

            <div class="border border-gray-300 my-4"></div>

            <ul id="requestList"
                role="list"
                class="p-2 space-y-2 w-full max-h-60 overflow-y-auto custom-scrollbar">
            </ul>

            <template id="requestTemplate">
                <li class="list-user"  id="friendRequestId">
                    <div class="ml-5 flex items-center">
                        <img class="h-10 w-10 rounded-full"  alt="Avatar" src="../images/login.png"/>
                        <div class="ml-3 overflow-hidden">
                            <p class="text-sm font-medium text-gray-900 dark:text-white name"></p>
                        </div>
                    </div>
                </li>
            </template>
        </div>

        <div class="box-profile" data-aos="slide-left" data-aos-delay="200">
            <h2 class="text-lg font-bold text-yellow-400 text-center mb-4">Received</h2>

            <div class="border border-gray-300 my-4"></div>

            <ul id="receivedList"
                role="list"
                class="p-2 space-y-2 w-full max-h-60 overflow-y-auto custom-scrollbar">
            </ul>

                <template id="receivedTemplate">
                    <li class="list-user" id="friendReceivedId">
                        <div class="ml-5 flex items-center">
                            <img class="h-10 w-10 rounded-full"  alt="Avatar" src="../images/login.png"/>
                            <div class="ml-3 overflow-hidden">
                                <p class="text-sm font-medium text-gray-900 dark:text-white name"></p>
                            </div>
                        </div>

                        <!-- Boutons d'action -->
                        <div class="flex space-x-2 mr-5">
                            <button
                                    class="accept-btn group relative w-10 h-10 flex items-center justify-center bg-gray-500 hover:bg-green-600 text-white rounded-full transition-transform duration-300 hover:scale-110 focus:outline-none accept-btn">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="w-5 h-5 opacity-25 group-hover:opacity-100  transition-opacity duration-500"
                                     fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                                </svg>
                            </button>
                            <button
                                    class="decline-btn group relative w-10 h-10 flex items-center justify-center bg-gray-500 hover:bg-red-600 text-white rounded-full transition-transform duration-600 hover:scale-110 focus:outline-none decline-btn">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="w-5 h-5 opacity-25 group-hover:opacity-100 transition-opacity duration-200"
                                     fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                    </li>
                </template>
        </div>


        <div class="box-profile items-center pb-20" data-aos="slide-right" data-aos-delay="200">
            <h1 class="text-lg font-bold text-yellow-400 mb-4 text-center">Avatar</h1>

            <div class="border border-gray-300 my-4"></div>

            <div class="flex justify-center">
                <img id="avatarProfile" src="../images/login.png" alt="Avatar" class="avatar-img">
            </div>

            <div class="flex flex-col items-center justify-center">
                <div class="absolute bottom-0 flex ">
                    <label for="inputAvatar"
                           class="btn-primary"
                    >Change Avatar</label>
                    <input id="inputAvatar"
                           type="file"
                           accept="image/*"
                           class="hidden"
                    />
                </div>
            </div>

            <div class="border-spacing-2 border-spacing-x-2 border-spacing-y-2 border-gray-300 my-6"></div>
        </div>


        <div class="box-profile pb-20" data-aos="slide-left" data-aos-delay="200">
            <h1 class="text-lg font-bold text-yellow-400 mb-4 text-center">2FA</h1>
            <div class="border border-gray-300 my-4"></div>

            <div id="totalFactor">
                <p class="text-center text-sm indent-4"> Add an extra layer of protection to your account by enabling Two-Factor Authentication (2FA).
                    Once activated, you’ll need a verification code from your phone in addition to your password when logging in. </p>
                <div id="insertQrcode" class="flex flex-col items-center justify-center">
                </div>
                <div class="flex flex-col items-center justify-center">
                <button id="initFa" class="absolute bottom-0 btn-primary">
                    Activate 2FA
                </button>
                </div>
                <label id="codeFaInput" class="sr-only flex flex-col items-center justify-center">
                    <input id="inputVerify"
                        type="text"
                        inputmode="numeric"
                        pattern="\d{6}"
                        maxlength="6"
                        class="w-1/2 px-2 py-2 my-2 border border-gray-300 rounded-lg text-center text-lg tracking-widest focus:outline-none focus:ring-2 focus:ring-red-600"
                        placeholder="123456"
                    />
                </label>
                <dl  class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700">

                </dl>
            </div>
            <div id="activeFactor" class="hidden flex flex-col items-center justify-center space-y-2" >
                <p class="text-center text-sm indent-4"> You have enabled two-factor authentication. </p>
                <div class="flex items-center">
                    <img id="factorImage" src="../images/BigLock.png" alt="" class="avatar-img">
                </div>
            </div>

                <div class="border-spacing-2 border-spacing-x-2 border-spacing-y-2 border-gray-300 my-6"></div>
        </div>

    </div>

    <div class="text-center">
        <button id="logout" class="bg-red-600 btn-primary">
            Logout
        </button>
    </div>
</div>