<div class="w-full mt-28">

    <div class="relative w-full h-[80vh] overflow-hidden">
        <div class="absolute inset-0 bg-[url('../images/shopFront.png')] bg-cover bg-center mask-l-from-30% "></div>

        <div class="relative z-10 grid grid-cols-2 gap-x-8 mt-40">
            <div class="text-wrap max-w-lg mx-auto">
                <h1 class="text-7xl font-bold mb-15">Profitez d'une nouvelle source de revenus</h1>
                <p class="text-2xl/10">
                    La plateforme vous offre la faciliter, la visibilité et les logistiques nécessaires
                    pour vous mettre en relation avec davantage de clients.
                    <br>Devenez partenaire dès aujourd'hui.
                </p>
            </div>

            <div class="justify-center-item m-10 hidden">
                <div class="p-4 rounded-lg m-auto bg-white/90 w-1/2 space-y-8 shadow-lg backdrop-blur">
                    <label for="emailProspect" class="block text-xl font-medium text-gray-800 mb-4">
                        On vous contacte quand la plateforme ouvre ?
                    </label>
                    <input type="email" id="emailProspect" name="email" placeholder="exemple@email.com"
                           class="w-full p-4 border border-gray-300 rounded-lg focus:ring-2 focus:ring-fuchsia-600 focus:outline-none" required>
                    <div class="text-center py-2">
                        <button id="submitProspectEmail"
                                class="text-2xl text-white bg-fuchsia-700 p-4 rounded-full hover:bg-fuchsia-800">
                            Rejoindre !
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="space-y-4 mt-12 mx-30 bg-white rounded-xl ">
        <h2 class="text-5xl font-semibold text-center p-4">Devenez Partenaires</h2>
        <div class="flex flex-col sm:flex-row justify-between items-start sm:space-x-6 space-y-4 sm:space-y-0">

            <div class="flex-1 p-6 rounded-lg text-wrap max-w-md">
                <div class="mx-auto mb-4 w-60 h-42 flex items-center justify-center">
                    <img src="../images/Parteurs.png" alt="Partneurs" class="w-full h-full object-contain">
                </div>
                <div class="text-4xl mb-2 font-bold">1 - Devenez Partenaires</div>
                <p class="text-2xl text-gray-600">Rejoignez notre plateforme et gagnez en visibilité, <strong>sans frais d'inscriptions</strong>.</p>
            </div>

            <div class="flex-1 p-6 rounded-lg text-wrap max-w-md">
                <div class="mx-auto mb-4 w-60 h-42 flex items-center justify-center">
                    <img src="../images/NoFees.png" alt="NoFees" class="w-full h-full object-contain">
                </div>
                <div class="text-4xl mb-2 font-bold">2 - Simple, Gratuit et Rapide</div>
                <p class="text-2xl text-gray-600">
                    Poster vos produits en quelques clics et partagez leurs qualités.
                    Vous pouvez <strong>poster toute votre boutique</strong> sans aucun frais
                </p>
            </div>

            <div class="flex-1 p-6 rounded-lg text-wrap max-w-md">
                <div class="mx-auto mb-4 w-60 h-42 flex items-center justify-center">
                    <img src="../images/Monitor.png" alt="Monitor" class="w-full h-full object-contain">
                </div>
                <div class="text-4xl mb-2 font-bold">3 - Débloquez la livraison</div>
                <p class="text-2xl text-gray-600">
                    On s'occupe de la logistique ! On vous prévient dès qu'une commande est passé,
                    <strong> s'il faut livrer, on s'en occupe</strong>.
                </p>
            </div>

        </div>
        <div class="text-center py-6 px-2">
            <button id="beginShop" class="btn-primary text-3xl bg-fuchsia-700 p-4 rounded-full hover:shadow-xl">
                Commencer
            </button>
        </div>
    </div>
</div>
