<div class="w-full max-w-6xl mx-auto py-5 space-y-6">

        <div class="box-tournament group">
            <div class="flex items-center space-x-6">
                <img src="../images/fourRobots.png" alt="" class="w-1/2 h-full object-cover rounded-xl">
                <h2 class="text-yellow-500 font-bold text-2xl ml-10 ">Junior</h2>
            </div>
            <button id="4" class="btn-slide bottom-4 left-1/2 transform -translate-x-1/2 rounded-full">
                Join
            </button>
        </div>

        <div class="box-tournament group">
            <div class="flex items-center space-x-6">
                <div class="flex items-center space-x-6 right-0 ">
                <img src="../images/eightRobots.png" alt="" class="w-1/2 h-full object-cover rounded-xl">
                    <h2 class=" text-yellow-500 font-bold text-2xl ml-10 ">Contender</h2>
                </div>
            </div>
            <button id="8" class="btn-slide bottom-4 left-1/2 transform -translate-x-1/2 rounded-full">
                Join
            </button>
        </div>

        <div class="box-tournament group">
            <div class="flex items-center space-x-6">
                <img src="../images/sixteenRobots.png" alt="" class="w-1/2 h-full object-cover rounded-xl">
                <h2 class="text-yellow-500 font-bold text-2xl ml-10 ">Major</h2>
            </div>
            <button id="16" class="btn-slide bottom-4 left-1/2 transform -translate-x-1/2 rounded-full">
                Join
            </button>
        </div>

        <div class="box-tournament group">
            <div class="flex items-center space-x-6 text-center">
                <img src="../images/biggestRobots.png" alt="" class="w-1/2 h-full object-cover rounded-xl">
                <h2 class="text-yellow-500 font-bold text-2xl ml-10 ">Worlds</h2>
            </div>
            <button id="32" class="btn-slide bottom-4 left-1/2 transform -translate-x-1/2 rounded-full">
                Join
            </button>
        </div>

</div>