<div class="py-8 space-y-4">

<!-- Conteneur des tournois -->
<div class="max-w-6xl mx-auto space-y-6">

    <!-- Tournoi 1 -->
    <div class="flex items-center justify-between bg-gray-600 p-6 rounded-lg shadow-lg">
        <div class="flex items-center space-x-4">
            <h2 class="text-yellow-500 font-bold">Junior</h2>
            <span class="text-white">4/4</span>
        </div>
        <button class="btn bg-yellow-400 text-white py-2 px-6 cursor-pointer transition hover:scale-105 hover:bg-yellow-600 hover:slide rounded-r-full shadow-md">
            Join
        </button>
    </div>

    <!-- Tournoi 2 -->
    <div class="flex items-center justify-between bg-gray-600 p-6 rounded-lg shadow-lg">
        <div class="flex items-center space-x-4">
            <h2 class="text-yellow-500 font-bold">Contender</h2>
            <span class="text-white">8/8</span>
        </div>
        <button class="btn bg-yellow-400 text-white py-2 px-6 cursor-pointer transition hover:scale-105 hover:bg-yellow-600 hover:slide rounded-r-full shadow-md">
            Join
        </button>
    </div>

    <!-- Tournoi 3 -->
    <div class="flex items-center justify-between bg-gray-600 p-6 rounded-lg shadow-lg">
        <div class="flex items-center space-x-4">
            <h2 class="text-yellow-500 font-bold">Major</h2>
            <span class="text-white">16/16</span>
        </div>
        <button class="btn bg-yellow-400 text-white py-2 px-6 cursor-pointer transition hover:scale-105 hover:bg-yellow-600 hover:slide rounded-r-full shadow-md">
            Join
        </button>
    </div>

    <!-- Tournoi 4 -->
    <div class="flex items-center justify-between bg-gray-600 p-6 rounded-lg shadow-lg">
        <div class="flex items-center space-x-4">
            <h2 class="text-yellow-500 font-bold">Worlds</h2>
            <span class="text-white">32/32</span>
        </div>
        <button class="btn bg-yellow-400 text-white py-2 px-6 cursor-pointer transition hover:scale-105 hover:bg-yellow-600 hover:slide rounded-l-full hover:shadow-md">
            Join
        </button>
    </div>

</div>

</div>