<div class="w-full max-w-6xl mx-auto py-5 space-y-6">

    <div class="box-tournament group">
        <div class="flex items-center space-x-6">
            <img src="../images/fourRobots.png" alt="" class="w-1/2 h-full object-cover rounded-xl">
            <div class="flex flex-col items-center space-y-4 text-center">
                <h1 class="name-tournament">Junior</h1>
                <h2 class="text-xl text-gray-500 mx-auto">For 4 player tournament</h2>
            </div>
        </div>
        <button id="4" class="btn-slide bottom-4 left-1/2 transform -translate-x-1/2 rounded-full">
            Join
        </button>
    </div>

    <div class="box-tournament group">
        <div class="flex items-center space-x-6">
            <img src="../images/eightRobots.png" alt="" class="w-1/2 h-full object-cover rounded-xl" />
            <div class="flex flex-col items-center space-y-4 text-center">
                <h2 class="name-tournament">Contender</h2>
                <p class="text-xl text-gray-500 mx-auto">For 8 player tournament</p>
            </div>
        </div>
        <button id="8" class="btn-slide bottom-4 left-1/2 transform -translate-x-1/2 rounded-full">
            Join
        </button>
    </div>


    <div class="box-tournament group">
        <div class="flex items-center space-x-6">
            <img src="../images/sixteenRobots.png" alt="" class="w-1/2 h-full object-cover rounded-xl">
            <div class="flex flex-col items-center space-y-4 text-center">
                <h2 class="name-tournament">Major</h2>
                <p class="text-xl text-gray-500 mx-auto">For 4 player tournament</p>
            </div>
        </div>
        <button id="16" class="btn-slide bottom-4 left-1/2 transform -translate-x-1/2 rounded-full">
            Join
        </button>
    </div>

    <div class="box-tournament group">
        <div class="flex items-center space-x-6">
            <img src="../images/Biggest.png" alt="" class="w-1/2 h-full object-cover rounded-xl">
            <div class="flex flex-col items-center space-y-4 text-center">
                <h2 class="name-tournament">Worlds</h2>
                <p class="text-xl text-gray-500 mx-auto">For 4 player tournament</p>
            </div>
            <button id="32" class="btn-slide bottom-4 left-1/2 transform -translate-x-1/2 rounded-full">
            Join
            </button>
        </div>
    </div>

</div>